{% extends "admin/base.html" %}

{% block content %}

<div class="container-fluid w-75">
    <h2>Users</h2>
    <table class="table table-hover table-striped table-bordered align-middle table-sm">
        <thead>
            <tr class="text-center">
                <th scope="col">id</th>
                <th scope="col">User</th>
                <th scope="col">Currency</th>
                <th scope="col">Admin</th>
                <th scope="col" class="w-25">Crews</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr class="text-center">
                    <th scope="row" class="text-center">{{ user.id }}</th>
                    <td>{{ user.login }}</td>
                    <td class="text-center"><span class="badge bg-primary">{{ user.currency }} Qk</span></td>
                    <td class="text-center">
                        {% if user.is_admin %}
                            <span class="badge bg-danger">yes</span>
                        {% else %}
                            <span class="badge bg-secondary">no</span>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% for crew in user.crews %}
                            <span class="badge bg-success">{{ crew.name }}</span>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="container-fluid d-flex p-0">
        <div class="container-fluid p-0 w-50">
            <h2>Crews</h2>
            <div class="list-group">
                {% for crew in crews %}
                    <div class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <div class="d-flex flex-wrap align-content-center">
                                <h5 class="mb-1" onclick="navigator.clipboard.writeText('{{ crew.id }}')">{{ crew.id }}</h5>
                                <span> / </span>
                                <h5 class="mb-1" onclick="navigator.clipboard.writeText('{{ crew.name }}')">{{ crew.name }}</h5>
                            </div>
                            <div class="d-flex flex-column">
                                <button class="btn" onclick="navigator.clipboard.writeText('{{ crew.token }}')">Copy Token</button>
                                <button class="btn"><a href="#">Watch Ship</a></button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="container-fluid p-0" style="margin-left: 1rem;">
            <h2>Ships</h2>
            <div class="list-group">
                <div class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <div class="d-flex flex-wrap align-content-center">
                            <h5 class="mb-1" onclick="navigator.clipboard.writeText('1')">1</h5>
                            <span> / </span>
                            <h5 class="mb-1" onclick="navigator.clipboard.writeText('Crew1')">Crew1</h5>
                        </div>
                        <div class="d-flex flex-column">
                            <button class="btn" onclick="navigator.clipboard.writeText('token')">Copy Token</small>
                            <button class="btn" onclick="navigator.clipboard.writeText('token')">Watch Ship</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock %}
