<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Admin Panel</title>
        <meta name="description" content="Starship's admin panel">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <form method="post" action="" novalidate>
            <input type="password" name="password_field">
            <input type="submit" name="submit_button" value="Login">
        </form>
    </body>
</html>
