{% extends "admin/base.html" %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}

<form class="container-fluid w-50" method="post" action="{{ url_for('admin_bp.login') }}" novalidate>
    {{ form.hidden_tag() }}

    <h1>Dashboard Login</h1>

    <p>
        {{ form.login.label }}<br>
        {{ form.login(class="form-control") }}<br>
        {% for error in form.login.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </p>

    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </p>

    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>

{% endblock %}
