{% extends "admin/base.html" %}

{% block content %}

<div class="container-fluid w-50">
    <h3>
        <span class="text-secondary">User</span>
        <span class="text-dark" style="cursor: pointer;" onclick="navigator.clipboard.writeText('{{user.id}}')" data-bs-toggle="tooltip" data-bs-title="Click to copy">{{user.id}}</span>
        <span class="text-secondary">/</span>
        <span class="text-dark" style="cursor: pointer;" onclick="navigator.clipboard.writeText('{{user.login}}')" data-bs-toggle="tooltip" data-bs-title="Click to copy">{{user.login}}</span>
        <a href="#" class="btn badge bg-primary" style="cursor: pointer;" onclick="changeCurrency({{user.id}}, '{{user.login}}', {{user.currency}})" data-bs-toggle="tooltip" data-bs-title="Click to change">{{ user.currency }} Qk</a>
        {% if user.is_admin %}
            {% if current_user.id != user.id %}
                <a href="{{ url_for('admin_bp.toggle_admin_state', user_id=user.id) }}" class="btn badge bg-danger" data-bs-toggle="tooltip" data-bs-title="Click to remove admin rights">admin</a>
            {% else %}
                <span class="badge bg-danger">admin</a>
            {% endif %}
        {% endif %}
    </h2>
    <div class="d-flex">
        {% if current_user.id != user.id %}
        <a href="{{ url_for('admin_bp.toggle_admin_state', user_id=user.id) }}" class="btn btn-sm btn-outline-danger me-4">
            {% if user.is_admin %}
                Remove admin rights
            {% else %}
                Promote to admin
            {% endif %}
        </a>
        {% endif %}
        <a href="#" class="btn btn-sm btn-outline-primary me-4" onclick="changeCurrency({{user.id}}, '{{user.login}}', {{user.currency}})">Change currency value</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-4" onclick="changeLogin({{user.id}}, '{{user.login}}', '{{user.login}}')">Change login</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-4" onclick="resetPassword({{user.id}}, '{{user.login}}')">Reset password</a>
    </div>
</div>

{% endblock %}
