{% extends "base.html" %}

{% block content %}

<form class="container-fluid w-50" method="post" action="{{ url_for('admin_bp.create_detail_type') }}" novalidate>
    {{ form.hidden_tag() }}

    <h1>Create a new Detail Type</h1>

    <p>
        {{ form.string_id.label }}<br>
        {{ form.string_id(class="form-control") }}
        {% for error in form.string_id.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </p>

    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control", placeholder="en: Detail type name example\nru: Пример наименования типа детали") }}<br>
        {% for error in form.name.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </p>

    <p>
        {{ form.description.label }}<br>
        {{ form.description(class="form-control", placeholder="en: Detail type description example\nru: Пример описания типа детали") }}<br>
        {% for error in form.description.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </p>

    <p>{{ form.required() }} {{ form.required.label }}</p>

    <p>{{ form.submit(type="submit", class="btn btn-success") }}</p>
</form>

{% endblock %}
