{% extends "base.html" %}

{% block content %}

<form class="container-fluid w-50" method="post" action="{{ url_for('admin_bp.create_user') }}" novalidate>
    {{ form.hidden_tag() }}

    <h1>Create a new user</h1>

    <p>
        {{ form.login.label }}<br>
        {{ form.login(class="form-control") }}<br>
        {% for error in form.login.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </p>

    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </p>

    <p>{{ form.is_admin() }} {{ form.is_admin.label }}</p>

    <p>{{ form.submit(type="submit", class="btn btn-success") }}</p>
</form>

{% endblock %}
