{% extends "base.html" %}

{% block content %}

<div class="container-fluid w-75">
    <h2>Users</h2>
    <table class="table table-hover table-striped table-bordered align-middle table-sm">
        <thead>
            <tr class="text-center">
                <th scope="col">id</th>
                <th scope="col">User</th>
                <th scope="col">Currency</th>
                <th scope="col">Admin</th>
                <th scope="col" class="w-25">Crews</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr class="text-center {%- if current_user.id == user.id%} table-danger{%- endif -%}">
                    <th scope="row" class="text-center" style="cursor: pointer;" onclick="gotoUser({{user.id}})">{{ user.id }}</th>
                    <td style="cursor: pointer;" onclick="gotoUser({{user.id}})">{{ user.login }}</td>
                    <td class="text-center">
                        <span href="#" class="btn badge bg-primary" style="cursor: pointer;" onclick="navigator.clipboard.writeText('{{ user.currency }}')" data-bs-toggle="tooltip" data-bs-title="Click to copy">{{ user.currency }} Qk</span>
                    </td>
                    <td class="text-center">
                            <a
                                href="{{ url_for('admin_bp.toggle_admin_state', user_id=user.id) }}"
                                class="btn badge bg-{%- if user.is_admin -%}danger{%- else -%}secondary{%- endif -%} {%- if current_user.id == user.id %} disabled{%- endif -%}"
                                {% if user.id != current_user.id %}
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Click to toggle"
                                {% endif %}
                            >
                                {% if user.is_admin %}
                                    yes
                                {% else %}
                                    no
                                {% endif %}
                            </a>
                    </td>
                    <td class="text-center">
                        {% for crew in user.crews %}
                            <span class="badge bg-success">{{ crew.name }}</span>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="container-fluid d-flex p-0">
        <div class="container-fluid p-0 w-50">
            <h2>Crews</h2>
            <div class="list-group">
                {% for crew in crews %}
                    <div class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <div class="d-flex flex-wrap align-content-center">
                                <h5 class="mb-1 text-secondary-emphasis" style="cursor: pointer;" onclick="navigator.clipboard.writeText('{{ crew.id }}')" data-bs-toggle="tooltip" data-bs-title="Click to copy">{{ crew.id }}</h5>
                                <span>/</span>
                                <h5 class="mb-1 text-secondary-emphasis" style="cursor: pointer;" onclick="navigator.clipboard.writeText('{{ crew.name }}')" data-bs-toggle="tooltip" data-bs-title="Click to copy">{{ crew.name }}</h5>
                            </div>
                            <div class="d-flex flex-column">
                                <button class="btn" onclick="navigator.clipboard.writeText('{{ crew.token }}')">Copy Token</button>
                                <button class="btn"><a href="#">Watch Ship</a></button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="container-fluid p-0" style="margin-left: 1rem;">
            <h2>Ships</h2>
            <div class="list-group">
                {% for ship in ships %}
                    <div class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <div class="d-flex flex-wrap align-content-center">
                                <h5 class="mb-1" onclick="navigator.clipboard.writeText('1')">{{ship.crew.id}}</h5>
                                <span> / </span>
                                <h5 class="mb-1" onclick="navigator.clipboard.writeText('Crew1')">{{ship.crew.name}}</h5>
                            </div>
                            <div class="d-flex flex-column">
                                <a href="#" class="btn">Watch Ship</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


</div>

{% endblock %}
