{% extends "base.html" %}

{% block content %}

<div class="container-fluid w-75">
    <h2>Users</h2>
    <table class="table table-hover table-striped table-bordered align-middle table-sm">
        <thead>
            <tr class="text-center">
                <th scope="col">id</th>
                <th scope="col">User</th>
                <th scope="col">Admin</th>
                <th scope="col" class="w-50">Crews</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr class="{%- if current_user.id == user.id%} table-danger{%- endif -%}">
                    <th scope="row" class="text-center" style="cursor: pointer;" onclick="gotoUser({{user.id}})">{{ user.id }}</th>
                    <td class="text-center" style="cursor: pointer;" onclick="gotoUser({{user.id}})">{{ user.login }}</td>
                    <td class="text-center">
                            <a
                                href="{{ url_for('admin_bp.toggle_admin_state', id=user.id) }}"
                                class="btn badge bg-{%- if user.is_admin -%}danger{%- else -%}secondary{%- endif -%} {%- if current_user.id == user.id %} disabled{%- endif -%}"
                                {% if user.id != current_user.id %}
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Click to toggle"
                                {% endif %}
                            >
                                {% if user.is_admin %}
                                    yes
                                {% else %}
                                    no
                                {% endif %}
                            </a>
                    </td>
                    <td class="text-center">
                        {% for crew in user.crews %}
                            <span class="badge bg-success position-relative me-2">
                                {{crew.name}}
                                <a href="{{url_for('admin_bp.unlink_crew', id=crew.id, users=user.id)}}" class="btn position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" data-bs-toggle="tooltip" data-bs-title="Unlink">
                                    -
                                </a>
                            </span>
                        {% endfor %}
                        <span role="button" class="badge bg-success" onclick="linkUserWithCrew('{{user.id}}')" data-bs-toggle="tooltip" data-bs-title="Add linking">+</span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Crews and Ships</h2>
    <div class="d-flex flex-wrap">
        {% for crew in crews %}
        <div class="card me-2 mb-2" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title d-flex justify-content-between align-items-center mb-3">
                    <span><span data-bs-toggle="tooltip" role="button" data-bs-title="Click to copy"  onclick="navigator.clipboard.writeText('{{ crew.id }}')">{{crew.id}}</span> / {{crew.name}}</span>
                    <a href="#" role="button" class="btn btn-sm badge bg-primary" onclick="changeCurrency({{crew.id}}, '{{crew.name}}')" data-bs-toggle="tooltip" data-bs-title="Click to change">{{ crew.currency }} Qk</a>
                </h5>
                <h6 class="text-center card-subtitle mb-4">
                    {%- if crew.owners -%}
                        Owned by {% for owner in crew.owners -%}
                            <a href="{{url_for('admin_bp.user', id=owner.id)}}">{{owner.login}}</a>
                            {%- if loop.index != crew.owners|length %},&nbsp;{% endif -%}
                        {%- endfor -%}
                    {% else %}
                        <span class="badge bg-warning"
                              data-bs-toggle="tooltip"
                              data-bs-title="Has no linked users">
                            Orphan
                        </span>
                    {% endif %}
                </h6>
                <div class="d-flex justify-content-evenly">
                    <button class="card-link btn btn-sm btn-outline-dark" onclick="navigator.clipboard.writeText('{{ crew.token }}')">Token</button>
                    <a href="{{url_for('admin_bp.ship', id=crew.ship.id)}}" class="card-link btn btn-sm btn-outline-primary">Ship</a>
                    <button class="card-link btn btn-sm btn-outline-danger" onclick="deleteCrew({{crew.id}}, '{{crew.name}}')">Delete</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
