{% extends "base.html" %}

{% block content %}

<div class="container-fluid w-75">
    <div class="d-flex justify-content-between">
        <h2>Detail Types</h2>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link {%- if lang == 'en' %} active{%- endif -%}" href="{{url_for('admin_bp.detail_management', lang='en')}}">EN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {%- if lang == 'ru' %} active{%- endif -%}" href="{{url_for('admin_bp.detail_management', lang='ru')}}">RU</a>
            </li>
        </ul>
    </div>
    <div class="d-flex flex-wrap">
        {% for detail_type in detail_types %}
            <div class="card me-2 mb-2" style="width: 18rem;">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title text-center {% if detail_type.required %}text-warning{% endif %}"
                        {% if detail_type.required %}
                            style="cursor: pointer;"
                            data-bs-toggle="tooltip"
                            data-bs-title="Every ship must have a detail of this type to work"
                        {% endif%}>
                        {{detail_type.name.get(lang)}}</h5>
                    <p class="card-text">{{detail_type.description.get(lang)}}</p>
                    <div class="text-center">
                        <a href="{{url_for('admin_bp.edit_detail_type', id=detail_type.id)}}" class="card-link">Edit</a>
                        <a href="#" onclick="deleteDetailType({{detail_type.id}}, '{{detail_type.name.get(lang)}}')" class="card-link">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div>
        {% for detail_type, details in details.items() if details|length != 0 %}
            <h3 class="mt-3">{{detail_type.name.get(lang)}}</h3>
            <div class="d-flex flex-wrap">
                {% for detail in details %}
                    <div class="card me-2 mb-2" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{detail.name.get(lang)}}</h6>
                            <h6 class="card-subtitle text-center">
                                <span class="badge bg-primary">{{detail.cost}} Qk</span>
                                <span class="badge bg-danger">{{detail.health}} HP</span>
                            </h6>
                            {% if detail.description.get(lang) %}
                                <p class="card-text mt-3">{{detail.description.get(lang)}}</p>
                            {% endif %}
                            {% if detail.power_generation or detail.power_consumption or detail.accel_factor or detail.damage_absorption or detail.damage %}
                                <div class="card">
                                    <ul class="list-group list-group-flush">
                                        {% if detail.power_generation %}
                                        <li class="list-group-item d-flex justify-content-between">
                                            <span>Power generation</span>
                                            <span class="badge bg-info">{{detail.power_generation}}</span>
                                        </li>
                                        {% endif %}

                                        {% if detail.power_consumption %}
                                        <li class="list-group-item d-flex justify-content-between">
                                            <span>Power consumption</span>
                                            <span class="badge bg-info">{{detail.power_consumption}}</span>
                                        </li>
                                        {% endif %}

                                        {% if detail.accel_factor %}
                                        <li class="list-group-item d-flex justify-content-between">
                                            <span>Accel factor</span>
                                            <span class="badge bg-info">{{detail.accel_factor}}</span>
                                        </li>
                                        {% endif %}

                                        {% if detail.damage_absorption %}
                                        <li class="list-group-item d-flex justify-content-between">
                                            <span>Damage absorption</span>
                                            <span class="badge bg-info">{{detail.damage_absorption}}</span>
                                        </li>
                                        {% endif %}

                                        {% if detail.damage %}
                                        <li class="list-group-item d-flex justify-content-between">
                                            <span>Damage</span>
                                            <span class="badge bg-info">{{detail.damage}}</span>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            {% endif %}
                            <div class="text-center">
                                <a href="{{url_for('admin_bp.edit_detail', id=detail.id)}}" class="card-link">Edit</a>
                                <a href="#" onclick="deleteDetail({{detail.id}}, '{{detail.name.get(lang)}}')" class="card-link">Delete</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
