{% extends "base.html" %}

{% block content %}

<div class="container-fluid w-75">
    <div class="d-flex justify-content-between">
        <h3>
            <span>Ship</span>
            <span class="text-secondary" style="cursor: pointer;" onclick="navigator.clipboard.writeText('{{ship.id}}')" data-bs-toggle="tooltip" data-bs-title="Click to copy">{{ship.id}}</span>
        </h3>
        {% include "lang_toggler.html" %}
    </div>
    <h5>Owned by <span class="text-secondary">{{ship.crew.name}}</span> crew{% if ship.shame and ship.shame.get(lang) %} and shamed as <span class="text-secondary">{{ship.shame.get(lang)}}</span>{% endif %}</h4>
    <h4>Details</h4>
    <div class="d-flex flex-wrap">
        {% for dc in details %}
            {% include "detail_copy_card.html" %}
        {% endfor %}
    </div>
    <div class="d-flex">
        <a href="{{url_for('admin_bp.change_ship_shame', id=ship.id)}}" class="btn btn-sm btn-outline-secondary me-4">Change shame</a>
        <button  class="btn btn-sm btn-outline-danger me-4"
        {% if ship.crew %}
            data-bs-toggle="tooltip"
            data-bs-title="Can only delete orphan (with no linked crews) ships"
        {% else %}
            onclick="deleteShip({{ship.id}})"
        {% endif %}
        >Delete</a>
    </div>
</div>

{% endblock %}
